.cartPreview-container{
    border: 3px solid #d767e8;
    margin:  1rem auto;
    padding: .5rem;
    position: absolute;
    background-color: #f4f3f0;
    right: 4rem;
    transform: translate(-10px);
     /* opacity: 0;  */
    /* visibility: hidden; */
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 5;
}

.cartItem-body{
    width: 13rem ;
    height: 18rem;
    /* background-color: #fbfaf8; */
    padding: 1rem 1rem 0 1rem;
    overflow: scroll;
}
.cartItem-content {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
}

.cartItem-content span{
    padding-left: 1rem;
    display: grid;
    font-size: 1rem;
}

.cartItem-content img{
    width: 4rem;
    height: 4rem;
}

