.signupMobile-container {
    margin: .6rem;
    border-radius: 1rem;
    background-color: white;
  }
  
  .signupMobile-body {
    /* display: flex;
    align-items: center;*/
    text-align: center; 
  }
  
  .signupMobile-input {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .signup-image {
    border-right-color: black;
  }
  
  .signup-image img {
    width: 110%;
    height: 100%;
    border-radius: 2rem;
    border-right-width: 2rem;
  }
  
  .signupMobile-input span {
    padding: 0 2rem 1rem 2rem;
    font-weight: bold;
  }
  
  .signupMobile-input input {
    margin: 0 2rem 1rem 2rem;
    font-weight: bold;
    width: auto;
    height: 2rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(250, 246, 246, 0.459);
  }
  
  .signupMobile-button {
    text-align: center;
    margin: 0 2rem 1rem 2rem;

    /* width: auto; */
    height: 3rem;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 1rem;
  }

  .signupMobile-button button{
    align-items: center;
    width: 3rem;
    margin: 0 2rem 1rem 2rem;

  }

  .signup-button:hover{
    width: 7rem;
    height: 2.5rem;
    background-color:blanchedalmond;
  }
  