.addressBook-body-container {

}
.addressBook-body{
    background-color: rgb(239, 239,225);
    margin: 1rem auto;
    padding: 1rem;
    width: 90%;
    border-radius: 1rem;
    font-family: Apple Chancery;
}

.addressBook-header h3{
    padding: 0.5rem 1rem;
}

.addressBook-header span{
    padding: 1rem;
    font-weight:bold;
}

.addressBook-content {
    margin: 1rem 1rem 1rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding-bottom: 1rem;

}

.addressBook-deliveryDetails {
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.addressAction {
    display: flex;
}

.deliveryAddress-badge {
    border: solid grey;
    border-radius: 1rem;
    background-color: grey;
    margin: 1rem;
    font-weight: bold;
    padding: .5rem;
}

.add-address {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(132, 112, 30)
}

.add-address:hover {
    font-size: 1.3rem;
    cursor: pointer;
}