.customButton button{
    margin: .2rem;
    padding: 1rem;
    width: 24.5rem;
    border-radius: 1rem;
    color: white;
    background-color: #4d2953;
    font-family: Apple Chancery;
    font-size: 1.8rem;
}
