.customDate{
    margin: 1rem;
}

.customDate span {
    display: flex;
   
}

.label{
    font-weight: bold;
    font-size: 1.2rem;
}

.customDate input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 1.5rem;
    width: 95%;
    background-color: #fbfaf8;
    margin-top: .5rem;
}

.error{
    font-size:.7rem;
    color: red;
}