.quickOrderCake-container{
    width: 95%;
    border: 3px solid #d767e8;
    border-radius: 1rem;
    text-align: center;
    transition: border 0.3s ease;
}

.quickOrderCake-container:hover {
  border-width: 7px; /* Change only the border width on hover */
  border-color: #c72bdf;
  border-radius: 1rem;
  cursor: pointer;
}

.quickOrderCake-container img {
    width: 95%;
    height: 30rem;
    border-radius: 1rem;
}
