.quickSurprisePackage-container{
    width: 95%;
    border: 3px solid #d767e8;
    border-radius: 1rem;
    text-align: center;
}

.quickSurprisePackage-container:hover {
  border-width: 7px; /* Change only the border width on hover */
  border-color: #c72bdf;
  border-radius: 1rem;
  cursor: pointer;
}

.quickSurprisePackage-container img {
    width: 95%;
    height: 30rem;
    border-radius: 1rem;
}

.bronzePackage span, .diamondPackage span,.goldPackage span, .silverPackage span{
    border: 1.5px solid;
    border-radius: 1rem;
    margin: .7rem;
    padding: .4rem;
    background-color: #d0d0d0
}

@media (max-width: 768px) {
  .quickSurprisePackage-container{
  width: auto;
  }

  .bronzePackage span, .diamondPackage span,.goldPackage span, .silverPackage span{
    border: 1.5px solid;
    border-radius: 1rem;
    margin: .3rem;
    padding: .1rem;
    background-color: #d0d0d0
}
}