.landingPageNavbar-Container {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #a4a48c;
    border-radius: 0.7rem;
    font-weight: bold;
    color: rgb(54, 47, 47);
  }
  
  .landingPageNavbar-Container img {
    margin: 0.5rem;
    height: 5rem;
  }
  
  .landingPageNavbar-Title {
    font-size: 2rem;
    margin-top: 1.5rem;
    font-family: Apple Chancery;
  }
  
  .landingPageNavbar-Nav {
    margin-top: 2rem;
    padding: 0.5rem;
    display: flex;
  }
  
  .landingPageNavbar-Nav span {
    padding-right: 1rem;
    font-family: Oswald;
    
  }

  .landingPageNavbar-Nav span:hover{
    font-size: 1.2rem;
  }

  .nav-link {
    color: rgb(54, 47, 47);
  }