.checkoutPageBody-container {
    margin: 1rem auto;
    background-color: rgb(239,239,225);
    width: 90%;
    border-radius: 1rem;
    font-family: Apple Chancery;
    /* display: flex;
    justify-content: space-between; */
}

.checkoutPage-body {
    margin: 1rem;
    padding: 1rem;
}
.studioAddress {
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: rgb(207, 208, 208);
    padding: 1rem;
}
.studioAddress-header {
    margin-left: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.studioAddress-content {
    font-family:'Times New Roman', Times, serif;
    padding: 0.6rem 1rem;
}
.deliveryAddress {
    border: 1px solid grey;
    border-radius: 1rem;
    background-color: rgb(207, 208, 208);
    padding: 1rem;
}
.deliveryAddress-header {   
    margin-left: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.deliveryAddress-content {
    font-family:'Times New Roman', Times, serif;
    padding: 0.6rem 1rem;
}

.deliveryDetails {
    margin-top: 1rem;
     border: 1px solid grey;
    border-radius: 1rem;
    background-color: rgb(207, 208, 208);
    padding: 1rem;
}

.deliveryDetails-header {
     margin-left: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.deliveryDetails-content {
    font-family:'Times New Roman', Times, serif;
    padding: 0.6rem 1rem;
    
}
.cart-container{
    display: flex;
}
.cartItems{
    display: grid;
    border: 1px solid black;
    margin: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    /* flex-direction: row;
    justify-content: space-evenly; */
}

.cartItems span {
    padding-left: 0;
}

.cartItems img{
    width: 2rem;
    height: 2rem;
}

.cart-desc{
    display: flex;
    justify-content: space-around;
}

.deliveryAddress-content span{
    /* padding-bottom: .8rem */
}

.orderSummary {
    /* margin: 1rem; */
}