.footer-container{
    /* border-top:double; */
    background-color: white;
    color: black;
    /* border-top-style: dashed; */
    border-radius: 1rem;
    width: 93.2%;
    margin: 2rem;
    padding: 1rem;
}

.footer-body {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}

.footer-logo img{
    width:40%;
    margin:0rem 0rem 0rem 4rem;
}

.footer-contacts li {
    list-style: none;
    font-weight: bold;
    font-weight: bold;
}

.footer-socials span {
    font-size: 1rem;
    padding: 1rem;
    color: black;
    font-weight: bold;
}

.footer-socials a {
    text-decoration: none;
}

.footer-newsletter input {
    width: 70%;
    height: 12%;
    font-weight: bold;

}

.footer-newsletter button {
    margin: 1rem 0rem;
    height: 17%;
    width: 40%;
    border-radius: .5rem;
    font-weight: bold;
    font-size: 1rem;
}