.home-container {
  background-color: rgb(239, 239, 225);
  /* margin: 0 1rem ; */
  /* padding: 0 2rem; */
  margin: 1rem auto;
  width: 95%;
  border-radius: 1rem;
  font-family: Apple Chancery
}

.header{
    padding: 1rem 0rem 0rem 1rem; 
}

.home-body {
  padding: 1rem;
  
  display: flex;
  justify-content: space-around;
}

.package-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 95%;
  /* orbder: 1px solid #808080;
  border-radius: 1rem; */
}

.package-cake img, .package-surprise img, .package-chops img {
  width: 95%;
  height: 30rem;
  border-radius: 1rem;
}

.package-cake, .package-surprise, .package-chops {
  border: 3px solid #d767e8;
  border-radius: 1rem;
  display: flex; /* Ensure flex properties are applied */
  flex-direction: column;
  align-items: center; /* Center items along the cross axis */
  padding: .2rem;
  transition: border 0.3s ease; /* Smooth transition for border changes */
}
.package-cake h4, .package-surprise h4, .package-chops h4{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1.5rem;
}

.package-cake:hover, .package-surprise:hover, .package-chops:hover {
  border-width: 10px; /* Change only the border width on hover */
  border-color: #c72bdf;
  border-radius: 1rem;
  cursor: pointer;
}

.quick-order{
    /* background-color: black; */
    text-align: center;
    color: white;
    margin: 1rem;
    border-radius: 1rem;
    padding: .5rem;
    border: 2px solid #d767e8;
    font-weight: bold;
    font-size: 1.5rem;
    width: 90%;
  background-color: #dfa42c;
    height: absolute;
}

.quick-order p {
  border: none;
  background-color: #4d2953;
  /* background-color: #e7c899; */
  border-radius: 1rem;
  padding:  1rem 0rem;
}

.quick-order img {
  width:90%;
  height: 79%;
  border-radius: 1rem;
}

.quick-order:hover {
  border: 3px solid #dfa42c;
  border-width: 4px; 
  border-color: #c72bdf; 
  border-radius: 1rem;
  color: #c72bdf;
  cursor: pointer;
}
