.home-container {
  background-color: #fbfaf8;;
  /* margin: 0 1rem ; */
  /* padding: 0 2rem; */
  margin: 1rem auto;
  width: 95%;
  border-radius: 1rem;
  font-family: Oswald;
  /* position: relative; */

}

.header{
    padding: 1rem 0rem 0rem 1rem; 
}

.home-body1 {
  background-color: #f4f3f0;
  margin: 2rem; 
  padding: 1rem;
}

.home-body {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  /* width: 92.5%; */
  
}

.rtg-container {
  margin: 2rem; 
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align:center;
  background-color: #f4f3f0;
  /* border: 1px solid #808080; */
  width: 95%;
  border-radius: 1rem; 
}

.rtg-header {
  padding: 1rem;
  font-weight: bold;
  font-size: 1.7rem;
  border-radius: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
}

.rtg-body {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
}


.rtg-body-cakes-title {
  border: 1px solid #d767e8;
  border-radius: 1rem;
  background-color:#4d2953;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  /* margin: 1.5rem;  */
  padding: 1rem; 
}

.rtg-body-cakes,
.rtg-body-chops{
  margin: 1rem;
  padding-top:1.5rem;
  padding-bottom:2rem;
  border: 1px solid #d767e8;
  border-radius: 1rem;
  width: 30%;
  background-color: #f4f3f0;
  box-shadow: 0px 0px 10px  gray;
}

.rtg-item-cakes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rtg-cakes-content img {
  width: 75%;
  height: 15rem;
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  cursor: pointer;
  border: 5px solid rgb(194, 187, 42)
}



.rtg-cakes-content p {
  margin-top: 0;
  font-size: 1.2rem
}

.rtg-content{
  padding: .5rem 1rem;
}

.rtg-span{
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
}

.rtg-content input {
  border-left: none;
  border-right: none;
  border-top:none ;
  background-color: #f4f3f0;
  padding: .5rem;
}

.package-cake img, .package-surprise img, .package-chops img {
  width: 95%;
  height: 30rem;
  border-radius: 1rem;
}

.package-cake, .package-surprise, .package-chops {
  border: 3px solid #d767e8;
  border-radius: 1rem;
  display: flex; /* Ensure flex properties are applied */
  flex-direction: column;
  align-items: center; /* Center items along the cross axis */
  padding: .2rem;
  transition: border 0.3s ease; /* Smooth transition for border changes */
}
.package-cake h4, .package-surprise h4, .package-chops h4{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1.5rem;
}

.package-cake:hover, .package-surprise:hover, .package-chops:hover {
  border-width: 10px; /* Change only the border width on hover */
  border-color: #c72bdf;
  border-radius: 1rem;
  cursor: pointer;
}

.home-header {
  padding: 0rem 1rem;
  font-weight: bold;
  font-size: 1.7rem;
  color: black;
  
}

.quick-order{
    /* background-color: black; */
    text-align: center;
    color: white;
    margin: 1rem;
    border-radius: 1rem;
    padding: .5rem;
    /* border: 2px solid #d767e8; */
    font-weight: bold;
    font-size: 1.5rem;
    width: 60%;
    background-color: #fbfaf8;
    height: absolute;
     box-shadow: 0px 0px 10px gray;
}

.quick-order p {
  border: none;
  background-color: #4d2953;
  /* background-color: #e7c899; */
  border-radius: 1rem;
  padding:  1rem 0rem;
}

.quick-order img {
  width:80%;
  height: 30rem;
  border-radius: 1rem;
}

.quick-order:hover {
  border: 3px solid #dfa42c;
  border-width: 4px; 
  border-color: #c72bdf; 
  border-radius: 1rem;
  color: #c72bdf;
  cursor: pointer;
}
