.cartItemsPageMobile-container {
    margin: .5rem;
}
.cartItemsPageMobile-body {
    background-color: #f4f3f0;
    margin: 1rem auto;
    width: 97%;
    border-radius: 1rem;
    font-family: Oswald;
}

.cartItemsPageMobile-header {
    margin: .5rem;
    padding: 1rem 0rem 0rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartItemsPageMobile-header button{
    background-color: rgb(78, 51, 104);
    border-radius: 1rem;
    cursor: pointer;
    color: rgb(241, 230, 230);
    font-weight: bold;
    padding: .5rem;
}

.cartItemsMobile-content {
    margin: 1rem;
    background-color: #e2e1de;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 0.5rem 1rem;
}

.cartItemsMobile-content img{
    width: 5rem;
    height: 5rem;
}

.cartItemsMobile-content span{
    padding-left: 1rem;
}

.cartItems-contentHeader {
    margin: .5rem 2.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black
}

.cartItems-end {
    text-align: center
} 