.admin-credentials-container {
    padding: 2rem;
    margin: 1rem;
    background-color: white;
}

.admin-credentials-body {
    display: flex;
    justify-content: space-around;
}

.admin-token{
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
    background-color: rgb(188, 188, 185);
}

.admin-pass {
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
    background-color: rgb(188, 188, 185);
}